div.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
}
div.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div.topbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    /* justify-content: space-between; */
    height: 65px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;
    position: sticky;
    top: 0px;
    
}
.topbar>.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 30%;
    margin-left: 5px;
}
div.logo>div.fb_icon>a>i.big{
    border-radius: 100%;
}
div.fb>i{
    color: blue;
    border-radius: 50%;
    height: 20%;
}
div.search{
    /* border: 1px solid black; */
    padding: 4px;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    width: fit-content;
}
div.search>input{
    border: 0px;
    background-color: rgb(224, 224, 224);
    height: 30px;
    width: 15vw;
    /* text-align: center; */
}
input:focus{
    border: 0px;
}
div.nav_icon{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
div.nav_icon>div{
    /* margin-right: 20px; */
}
div.profile{
    display: flex;
    align-items: center;
    justify-content: right;
    width: 30%;
}

div.dropdown_profile {
    position: relative;
    display: inline-block;
    /* width: 30%; */
    margin-right: 10px;
    margin-bottom: 10px;
}
.dropdown_profile>img{
    height: 35px;
    width: 35px;
    border-radius: 100%;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

/* Style the links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

/* Show the dropdown content when the button is hovered over */
.dropdown_profile:hover .dropdown-content {
    display: block;
}

/* ====================== main content ========================== */

div.content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
}
div.left_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    height: 100vh;
    /* position: fixed; */
}
div.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    /* background-color: white; */
    /* box-shadow: 0px 0px 5px 0px black; */

}


div.createpost{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: 10px;
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0,0.3);
    
}
div.createpost>a>img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 10px;

}

div.createpost>input{
    height: 50px;
    width: 90%;
    max-width: 100%;
    background-color: rgb(226, 226, 226);
    border-radius: 15px;
    border: 0px;
    font-size: 20px;
    padding-left:5px;
}

div.home>div.popup-createform {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  div.popup-createform>div.popup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: top;
    height: 400px;
  }
  div.popup-content>div.cancel_popup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  div.popup-content>form.createpost_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-shadow: 0px 0px 5px 0px black;
    background-color: white;
    border-radius:10px;
    padding: 10px;
    margin-bottom: 10px;

}
div.inp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
form.createpost_form>div.inp>textarea{
    max-width: 100%;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    border-radius: 10px;
    border: 0px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
}
form.createpost_form>div.inp>button{
    width: 100%;
    font-size: 25px;
}

div.home>div.content_post{
    display: flex;
    flex-direction: column;
    width: 100%;
}
div.content_post>div.posts{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    width: 100%;
    min-height: 200px;
    max-height: fit-content;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px;
    
    /* font-size: 20px; */
    /* font-weight: bold; */
}
div.posts>div.top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family:  sans-serif;
    font-size: 18px;
    font-weight: bold;
}
div.top>div.link_dp>a>img{
    height:30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 5px;
}
div.top>div.link_dp>a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
div.datetime{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content:center;
    font-size: 10px;
    font-weight: bolder;
}
div.posts>div.main_post{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px;
    font-size: 17px;
    width: 100%;
}
div.main_post>div.post_images{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-height: auto;
    max-width: 100%;
}
div.post_images>img{
    display: flex;
    max-height: 400px;
    min-width: 100px;
    max-width: auto;
    height: auto;
    width: 50%;
    /* object-fit: cover; */
    border-radius: 10px;
}

.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
  }
  div.cancel_popup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .popup-form input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .popup-form button {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    
  }
textarea.edit_post{
    width: 100%;
    height: 250px;
}
div.right_nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 30%;
    height: 100vh;
    /* position: fixed */
}
