div.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgb(223, 223, 223);
}
div.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
div.topbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px black;

}
.topbar>.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 30%;
    margin-left: 5px;
}
div.fb>i{
    color: blue;
    border-radius: 50%;
    height: 20%;
}
div.search{
    /* border: 1px solid black; */
    padding: 4px;
    border-radius: 15px;
    background-color: rgb(224, 224, 224);
    width: fit-content;
}
div.search>input{
    border: 0px;
    background-color: rgb(224, 224, 224);
    height: 30px;
    width: 15vw;
    /* text-align: center; */
}
div.nav_icon{
    display: flex;
    flex-direction: row;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}
div.nav_icon>div{
    /* margin-right: 20px; */
}
div.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
    width: 30%;
    margin-right: 5px;
}
div.content{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: white;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(80, 80, 80,0.5);
}
div.main_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
div.dp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
div.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.popup-form {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  
  .popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .popup-form input {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .popup-form button {
    width: 100%;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 50px;
    
  }
  
  /* .popup-form button:hover {
    background-color: #ff0000;
  } */