{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
  <div class="container">

    <!-- <div>
        <a href="{% url 'main:logout' %}">logout</a>

    </div> -->
    <div class="main">
      <div class="topbar">

        <div class="logo">
<!--          <div class="fb"><i class="big facebook icon"></i></div>-->
          <div><a href="{% url 'main:home' %}"> <i class="big facebook icon"></i></a></div>
          <div class="search">
            <i class="search icon"></i>
            <input  class="srch" type="text" placeholder="Search Facebook">
          </div>  
        </div>

        <div class="nav_icon">
          <!-- <div><i class=" big home icon"></i></div> -->
          <div><a href="{% url 'main:home' %}"> <i class="big home icon"></i></a></div>
          <div><i class=" big youtube square icon"></i></div>
          <div> <i class="big shopping cart icon"></i></div>
          <div>
            <div><i class="big users icon"></i></div>
          </div>
          
        </div>

        <div class="profile">
              <div class="link_dp">
                <a href="{% url 'main:profile' %}">
                  {% if user_profile.profile_photo %}
                    <img src={{user_profile.profile_photo.url}} alt="" >
                  {% else %}
                    <i class='big user circle icon'></i>
                  {% endif %}
                </a>
                <div><h5>{{ login_user.first_name }}</h5></div>
              </div>
              <div class="logout">
                <h5><a href="{% url 'main:logout' %}">Logout</a></h5>
              </div>

        </div>

      </div>

        <!-- ========================= topbar ends here ================================ -->
      <div id="content" class="content">
        <div class="left_nav">

        </div>
        <div id="home" class="home">
         
            <div class="createpost">

              <a href="{% url 'main:requested_profile' %}?requested_user={{ posts.user.id }}" >
                {% if user_profile.profile_photo %}
                  <img src={{user_profile.profile_photo.url}} alt="" >
                {% else %}
                  <i class='large user circle icon'></i>
                {% endif %}
                 <!-- <i class="large user circle icon"> </i> -->
             </a>
              <input v-on:click="showForm_createPost()" class="user_post" type="text" name="post" placeholder="What's on your mind?" required>
              {% if messages %}
              <div class="alert alert-success">
                  <ul>
                      {% for message in messages %}
                        <li>{{ message }}</li>
                      {% endfor %}
                  </ul>
              </div>
              {% endif %}
            </div>

            <div id="popup_createpost" class="popup-createform">
              <div class="popup-content">

                <div class="cancel_popup">
                  <div><h2>Write Post</h2></div>
                  <div><i  class=" x icon"  v-on:click="hideForm_createPost()"></i></div>
                </div>
                
                <form  class="createpost_form" action="createPost/" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                    <div class="inp">
                      <textarea class="user_post" type="text" name="post" placeholder="What's on your mind?" required></textarea>
                    </div>
                    <div class="inp">
                        <label><b>Add Photos</b></label>
                      <input type="file" name="images" accept="image/*" multiple>
                      <!-- Use 'multiple' attribute to allow multiple file selection -->
                  </div>
                    <div class="inp">
                      <button type="submit" class="ui inverted small green button">Create Post</button>
                      
                    </div>

                  </form>
              </div>
            </div>

            
            <div class="content_post" id="main_content">

              {% if user_post %}

                {% for posts in user_post %}

                <div class="posts">

                  <div class="top">

                    <div class="link_dp">
                        <a href="{% url 'main:requested_profile' %}?requested_user={{ posts.user.id }}" >
                           {% if posts.user_profile.profile_photo %}
                             <img src={{posts.user_profile.profile_photo.url}} alt="" >
                           {% else %}
                             <i class='large user circle icon'></i>
                           {% endif %}
                            <!-- <i class="large user circle icon"> </i> -->
                            {{ posts.user.first_name }} {{ posts.user.last_name }}
                        </a>
                    </div>
                
                    <div class="datetime">
                      <div>{{ posts.datetime }}</div>
                      {% if posts.user.id == current_user.id %}
                      <div><i class="large edit icon" v-on:click="showForm({{ posts.id}}, '{{ posts.post|linebreaksbr }}')"></i> </div>   <!-- sending posts.post as string >>>multiple variable not allowed as argument -->
                      {% endif %}
                    </div>

                  </div>

                  <div class="main_post">
                           <!-- # to exclude the <br> tag as string |linebreaks -->
                    <div> {{posts.post|linebreaks}} </div>

                    <div class="post_images">
                      {% for images in post_images %}
                          {% if images.post.id == posts.id %}        
                            
                            <!-- <div class="images"> -->
                              <img src="{{ images.images.url }}" alt="Post Image">
                            <!-- </div>   -->

                          {% endif %}
                      {% endfor %}
                    </div>

                    

                     <!-- post edit form for the user -->
                    {% if posts.user.id == login_user.id %}
                    <div id="popup" class="popup-form">
                      <div class="popup-content">

                        <div class="cancel_popup">
                          <div><h2>Edit Post</h2></div>
                          <div><i  class=" x icon"  v-on:click="hideForm({{ posts.id }})"></i></div>
                        </div>
                        
                        <form class="update_form" action="updatepost/" method="post">
          
                          <label>Your Post</label>
                          <textarea id="edit_post" class="edit_post" name="edited" required></textarea>
                          <input id="user_id" type="hidden" name="post_id">
                          <input id="current_page" type="hidden" name="view_name" >
                          <input v-on:click="setvalue('update')" id="update_post" name="operation" class="ui inverted green button" type="submit" value="Update">
                          <input v-on:click="setvalue('delete')" id="delete_post" name="operation" class="ui inverted red button" type="submit" value="Delete Post">
                          

                        </form>
                      </div>
                    </div>
                    {% endif %}
                    
                  </div>

                 

                  <div class="bottom">
                    <!-- bottom comment part of the post -->
                  </div>
                  
                </div>

                {% endfor %}

              {% endif %}

            </div>
            
            
          <!-- </div> -->
            
        </div>

        <div class="right_nav">

        </div>
      </div>
    </div>




    <div class="footer">

    </div>

  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
  delimiters: ['[[', ']]'], // Use double square brackets as delimiters

   data() {
    return {
      flag: true,
      post_id: null,
      device_max_width:820,
    }
   },


   mounted() {
    //Add an event listener to run the checkScreenWidth method when the window is resized
    window.addEventListener('resize', this.changeCssClass);

   // Initial check when the component is mounted
    this.changeCssClass();
  },
  beforeDestroy() {
    // Remove the event listener to prevent memory leaks when the component is destroyed
    window.removeEventListener('resize', this.changeCssClass);
  },


   methods: {
    showForm_createPost(){
      console.log("from postcreate showForm");
      const x = document.getElementById("popup_createpost");
      
      x.style.display="block";
    },
    hideForm_createPost(){
      const x = document.getElementById("popup_createpost");
      x.style.display = "none";
    },


    // ======================== Post edit and delete==========================
    showForm(post_id, post){
      console.log("from showForm");
      const x = document.getElementById("popup");
      const y = document.getElementById("edit_post");
      const id = document.getElementById("user_id");
      const url = `url 'main:deletepost' id = ${post_id}`;

      alert("Are you sure!:");
      y.innerHTML=post;
      id.value = post_id;
      
      this.post_id = post_id;
      x.style.display="block";
    },
    hideForm(post_id){
      const x = document.getElementById("popup");
      // alert("block");
      console.log(post_id);
      x.style.display="none";
    },
    setvalue(value){
      const update = document.getElementById("update_post");
      const dlte  = document.getElementById("delete_post");
      update.value=value;
      dlte.value=value;
    },
    
    //========================== device screen resize logic here===============
    changeCssClass() {
      const screen_width=window.innerWidth;
      console.log(screen_width);
      var class_home = document.getElementById("home");
      // var class_navbar = document.getElementById("navbar");
      
      
      if(screen_width<=this.device_max_width){        //when device width is smaller   //onlt active topbar classes
        console.log("inside small",screen_width); 
        class_home.style.width="100%";
        // class_main.className = "top_main";
        // class_navbar.className = "top_nav-bar";

         
      }
      if(screen_width>this.device_max_width){ //when device width is larger  //only active sidevar classes
        console.log("inside large:",screen_width);
        
        class_home.style.width="40%";
        // class_main.className = "main";
      }
      
    },

   }

  })
  app.mount('#content')
</script>
{% endblock %}