{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block link %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
<link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}
  <div class="container">

      
      <div class="main">
        <div class="topbar">

          <div class="logo">
  <!--          <div class="fb"><i class="big facebook icon"></i></div>-->
            <div class="fb_icon"><a href="{% url 'main:home' %}"> <i class="big facebook icon"></i></a></div>
            <div class="search">
              <i class="search icon"></i>
              <input  class="srch" type="text" placeholder="Search Facebook">
            </div>  
  
          </div>
  
          <div class="nav_icon">
  
            <!-- <div><i class=" big home icon"></i></div> -->
            <div><a href="{% url 'main:home' %}"> <i class="big home icon"></i></a></div>
            <div><i class=" big youtube square icon"></i></div>
            <!-- <div> <i class="big shopping cart icon"></i></div> -->
            <div>
              <div><i class="big users icon"></i></div>
            </div>
            <div> <i class="big notification bell icon"></i></div>
            
          </div>
  
          <div class="profile">
  
            <div class="dropdown_profile">
              <img src={{user_profile.profile_photo.url}} alt="" >
              <div><b>{{user_profile.user.first_name}}</b></div>
               <div class="dropdown-content">
                   <a href="{% url 'main:profile' %}">Profile</a>
                   <a href="{% url 'main:logout' %}">Logout</a>
               </div>
           </div>
           
          </div>
  
  
        </div>

          <!--    ====================main body here===================        -->

          <div class="content">

            <div class="main_content"  id="main_content">


              <div class="personal_info">
                {% if user_profile.cover_photo %}
                <div class="cover">
                  <img id="cover_photo" src={{user_profile.cover_photo.url}} alt="">
                  <div class="dp">
                    <div>
                      {% if user_profile.profile_photo %}
                      <img src={{user_profile.profile_photo.url}} alt="" >
                      {% else %}
                        <i class='massive user circle icon'></i>
                      {% endif %}
                    </div>
                  </div>
                  <div class="info">
                    {% if current_user %}
                    <div><h1>{{ current_user.first_name }} {{current_user.last_name}} ({{user_profile.nick_name}})</h1></div>
                    <div><h3>{{ user_profile.profession }}</h3></div>
                    <div><h4>{{current_user.email}} </h4></div>
                    <div><h4>{{user_profile.address}}</h4></div>
                    {% else %}
                    <p>No user found</p>
                    {% endif %}
                    
                    {% if current_user == login_user %}         
                    <div v-if="flag" class="update_info">
                      <br>
                      <a class="" v-on:click="showForm">Edit Info </a>
                    </div>
                    {% endif %}
                  </div>
                </div>
                {% endif %}
                 
                  <!-- {% if user_profile.cover_photo %}
                  <div class="cover_photo">
                    <img src={{user_profile.cover_photo.url}} alt="">
                  </div>
                  {% endif %}
                  
                  <div class="dp">
                    {% if user_profile.profile_photo %}
                      <img src={{user_profile.profile_photo.url}} alt="" >
                    {% else %}
                      <i class='massive user circle icon'></i>
                    {% endif %}
                    
                  </div>
                  <div class="info">
        
                    {% if current_user %}
                    <div><h1>{{ current_user.first_name }} {{current_user.last_name}} ({{user_profile.nick_name}})</h1></div>
                    <div><h3>{{ user_profile.profession }}</h3></div>
                    <div><h4>{{current_user.email}} </h4></div>
                    <div><h4>{{user_profile.address}}</h4></div>
                    {% else %}
                    <p>No user found</p>
                    {% endif %}
                    
                    {% if current_user == login_user %}         
                    <div v-if="flag" class="update_info">
                      <br>
                      <a class="" v-on:click="showForm">Edit Info </a>
                    </div>
                    {% endif %}

                  </div> -->
                  
              </div>
              
              {% if current_user == login_user %}
              <div id="popup" class="popup-form">
                  <div class="popup-content">
                    <h2>Edit Info</h2>
                    <form class="update_form" action="updateinfo/" method="post" enctype="multipart/form-data">

                      <label>First_Name</label>
                      <input type="text" name="f_name" value="{{ current_user.first_name }}"  required>
                      <label>Last_Name</label>
                      <input type="text" name="l_name" value="{{current_user.last_name}}" required>
                      <label>Nick_Name</label>
                      <input type="text" name="nick_name" value="{{ user_profile.nick_name }}" >
                      <label>Profession</label>
                      <input type="text" name="profession" value="{{user_profile.profession}}">
                      <label>Email</label>
                      <input type="text" name="email" value="{{ current_user.email }}" required>
                      <label>Address</label>
                      <input type="text" name="address" value="{{user_profile.address}}">
                      <label>Update Profile Photo</label>
                      <input type="file" name="profile_photo">
                      <label>Update Cover Photo</label>
                      <input type="file" name="cover_photo">

                      <input class="ui inverted red button" type="submit" value="Update">
                      <button id="concel_form" v-on:click="hideForm" class="ui inverted green button" type="button">Cancel</button>
                    </form>
                  </div>
              </div>
              {% endif %}

              {% if current_user == login_user %}
              <!-- <form class="post_form" action="createPost" method="post">
    
                <div class="inp">
                  <textarea class="user_post" type="text" name="post" placeholder="What's on your mind?" required></textarea>
                </div>
                <div class="inp">
                  <button class="ui inverted small blue button"><input class="sb" type="submit" value="Post"></button>

                </div> -->

                <div id="create_post" class="createpost">

                  <a href="{% url 'main:requested_profile' %}?requested_user={{ posts.user.id }}" >
                    {% if user_profile.profile_photo %}
                      <img src={{user_profile.profile_photo.url}} alt="" >
                    {% else %}
                      <i class='large user circle icon'></i>
                    {% endif %}
                     <!-- <i class="large user circle icon"> </i> -->
                 </a>
                  <input v-on:click="showForm_createPost()" class="user_post" type="text" name="post" placeholder="What's on your mind?" required>
                  {% if messages %}
                  <div class="alert alert-success">
                      <ul>
                          {% for message in messages %}
                            <li>{{ message }}</li>
                          {% endfor %}
                      </ul>
                  </div>
                  {% endif %}
                </div>
    
                <div id="popup_createpost" class="popup-createform">
                  <div class="popup-content">
    
                    <div class="cancel_popup">
                      <div><h2>Write Post</h2></div>
                      <div><i  class=" x icon"  v-on:click="hideForm_createPost()"></i></div>
                    </div>
                    
                    <form  class="createpost_form" action="createPost/" method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                        <div class="inp">
                          <textarea class="user_post" type="text" name="post" placeholder="What's on your mind?" required></textarea>
                        </div>
                        <div class="inp">
                            <label><b>Add Photos</b></label>
                          <input type="file" name="images" accept="image/*" multiple>
                          <!-- Use 'multiple' attribute to allow multiple file selection -->
                      </div>
                        <div class="inp">
                          <button type="submit" class="ui inverted small green button">Create Post</button>
                          
                        </div>
    
                      </form>
                  </div>
                </div>



                {% if messages %}
                <div class="alert alert-success">
                    <ul>
                        {% for message in messages %}
                          <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
              </form>
              {% endif %}

              <!-- =============== Posts starts here===================== -->

              <div class="content_post" id="post_content">

                {% if user_post %}
                  {% for posts in user_post %}

                  <div class="posts">

                    <div class="top">

                      <div class="link_dp">
                        {% if user_profile.profile_photo %}
                          <img src={{user_profile.profile_photo.url}} alt="" >
                        {% else %}
                          <i class='large user circle icon'></i>
                        {% endif %}
<!--                        <i class="large user circle icon"> </i>-->
                        {{ posts.user.first_name }} {{ posts.user.last_name }}
                      </div>

                      <div class="datetime">
                        <div>{{ posts.datetime }}</div>
                        {% if current_user == login_user %}
                        <div>
                          <i class="large edit icon" v-on:click="showFormPost({{ posts.id}}, '{{ posts.post|linebreaksbr }}')"></i>
                        </div>   <!-- sending posts.post as string >>>multiple variable not allowed as argument -->
                        {% endif %}
                      </div>

                    </div>

                    <div class="main_post">
                              <!-- # to exclude the <br> tag as string -->
                      <div>{{posts.post|linebreaks}}</div>
                      <div class="post_images">
                          {% for images in post_images %}
                              {% if images.post.id == posts.id %}

                                <!-- <div class="images"> -->
                                  <img src="{{ images.images.url }}" alt="Post Image">
                                <!-- </div>   -->

                              {% endif %}
                          {% endfor %}
                        </div>

                        <!-- post edit form for the user -->
                      <div id="popupPost" class="popup-form">
                        <div class="popup-content">

                          <div class="cancel_popup">
                            <div><h2>Edit Post</h2></div>
                            <div><i  class=" x icon"  v-on:click="hideFormPost({{ posts.id }})"></i></div>
                          </div>

                          <form class="update_form" action="updatepost/" method="post">

                            <label>Your Post</label>
                            <textarea id="edit_post" class="edit_post" name="edited" required></textarea>
                            <input id="user_id" type="hidden" name="post_id">
                            <input id="current_page" type="hidden" name="view_name">
                            <input v-on:click="setvaluePost('update')" id="update_post" name="operation" class="ui inverted green button" type="submit" value="Update">
                            <input v-on:click="setvaluePost('delete')" id="delete_post" name="operation" class="ui inverted red button" type="submit" value="Delete Post">


                          </form>
                        </div>
                      </div>

                    </div>



                    <div class="bottom">
                      <!-- bottom comment part of the post -->
                    </div>

                  </div>

                  {% endfor %}
                {% endif %}

              </div>


            </div>  



            
          </div>

      </div>


  </div>

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
   data() {
    return {
      flag: true,
      device_max_width:820,
    }
   },

   mounted() {
    //Add an event listener to run the checkScreenWidth method when the window is resized
    window.addEventListener('resize', this.changeCssClass);

   // Initial check when the component is mounted
    this.changeCssClass();
  },
  beforeDestroy() {
    // Remove the event listener to prevent memory leaks when the component is destroyed
    window.removeEventListener('resize', this.changeCssClass);
  },

   methods: {
    showForm_createPost(){
      console.log("from postcreate showForm");
      const x = document.getElementById("popup_createpost");
      
      x.style.display="block";
    },
    hideForm_createPost(){
      const x = document.getElementById("popup_createpost");
      x.style.display = "none";
    },


    // ====================== personal info edit logic here ================================
    showForm(){
      const x = document.getElementById("popup");
      alert("Are you sure!");
      x.style.display="block";

    },
    hideForm(){
      const x = document.getElementById("popup");
      // alert("block");
      x.style.display="none";
    },
    //====================== post Edit form logic here==============================
    showFormPost(post_id, post){
      const x = document.getElementById("popupPost");
      const y = document.getElementById("edit_post");
      const id = document.getElementById("user_id");
      const page_name = document.getElementById("current_page");
      const url = `url 'main:deletepost' id = ${post_id}`;

      alert("Are you sure!:");
      y.innerHTML=post;
      id.value = post_id;
      page_name.value = "profile";
      
      this.post_id = post_id;
      x.style.display="block";
    },
    hideFormPost(post_id){
      const x = document.getElementById("popupPost");
      // alert("block");
      console.log(post_id);
      x.style.display="none";
    },
    setvaluePost(value){
      const update = document.getElementById("update_post");
      const dlte  = document.getElementById("delete_post");
      update.value=value;
      dlte.value=value;
    },

    //========================== device screen resize logic here===============

    changeCssClass() {
      const screen_width=window.innerWidth;
      console.log(screen_width);
      var cover_image = document.getElementById("cover_photo");
      var create_post = document.getElementById("create_post");
      var post_content = document.getElementById("post_content");
      // var class_navbar = document.getElementById("navbar");

      
      
      if(screen_width<=this.device_max_width){        //when device width is smaller   
        console.log("inside small",screen_width); 
        // class_home.style.width="100%";
        // class_main.className = "top_main";
        // class_navbar.className = "top_nav-bar";
        cover_image.style.width="100%";
        create_post.style.width="100%";
        post_content.style.width="100%";

         
      }
      if(screen_width>this.device_max_width){ //when device width is larger  //only active sidevar classes
        console.log("inside large:",screen_width);
        
        // class_home.style.width="40%";
        // class_main.className = "main";
      }
      
    },

   }

  })
  app.mount('#main_content')
</script>
{% endblock %}