{% extends 'base/base.html' %}
{% load static %}

{% block title %} SignUp {% endblock %}

    {% block link %} <link rel="stylesheet" href="{% static 'test1.css' %}">
    {% endblock %}

{% block content %}
<!--   <div class="form1">-->
<!--                -->
<!--        <form  method="post">-->
<!--            <div class="form">-->
<!--                    <div><h4>User SignUp</h4></div>-->
<!--                    <div class="signupform">-->
<!--                        <div class="signupfield">-->
<!--                                <label for ="firstname">FirstName:</label>-->
<!--                                <br>-->
<!--                                <input type="text" name="fname" id="firstname" class="" placeholder="Enter your First Name" requred><br>-->
<!--                        </div>-->
<!--                        <div class="signupfield">-->
<!--                                <label for="lastname">LastName:</label>-->
<!--                                <br>-->
<!--                                <input type="text" name="lname" id="lastname" class="" placeholder="Enter your Last Name" required>-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <div class="signupform">-->
<!--                        <div class="signupfield">-->
<!--                                <label for ="username">UserName:</label>-->
<!--                                <br>-->
<!--                                <input type="text" name="username" id="username" class="" placeholder="Set a unique UserName" requred><br>-->
<!--                        </div>-->
<!--                        <div class="signupfield">-->
<!--                                <label for="password">Password:</label>-->
<!--                                <br>-->
<!--                                <input minlength="4" type="password" name="password" id="password" class="" placeholder="Set your login password" required>-->
<!--                        </div>-->

<!--                    </div>-->

<!--                    <div class="signupform">-->
<!--                        <div class="signupfield">-->
<!--                                <label for ="address">Email</label>-->
<!--                                <br>-->
<!--                                <input type="email" name="email" id="address" class="" placeholder="Enter your Email" requred><br>-->
<!--                        </div>-->
<!--                        <div class="signupfield">-->
<!--                                <label for="phn">Mobile No:</label>-->
<!--                                <br>-->
<!--                                <input type='tel' placeholder="01xxxxxxxxx" pattern="[0-9]{11}" name="phn" id="phn" class="" placeholder="Enter your MObile NO" required>-->
<!--                        </div>-->

<!--                    </div>-->


<!--                    <div>-->
<!--                    <button type="submit" class="ui blue button">Submit</button>-->
<!--                    </div>-->


<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<div class="form1">

        <form  method="post">
            {% csrf_token %}
            <div class="form">
                    <div><h4>User SignUp</h4></div>
                    <div class="signupform">
                        <div class="signupfield">
                                {{ form.first_name.label_tag }}
                                {{ form.first_name }}
                        </div>
                        <div class="signupfield">
                                {{ form.last_name.label_tag }}
                            {{ form.last_name }}
                        </div>
                    </div>

                    <div class="signupform">
                        <div class="signupfield">
                                {{ form.username.label_tag }}
                                {{ form.username }}
                                {{ form.username.errors }}
                        </div>
                        <div class="signupfield">
                                {{ form.email.label_tag }}
                                {{ form.email }}
                        </div>

                    </div>

                    <div class="signupform">
                        <div class="signupfield">
                                {{ form.password1.label_tag }}
                                {{ form.password1 }}
<!--                            {% if form.password1.errors %}-->
<!--                                <ul class="errorlist">-->
<!--                                    {% for error in form.password1.errors %}-->
<!--                                        <li>{{ error }}</li>-->
<!--                                    {% endfor %}-->
<!--                                </ul>-->
<!--                            {% endif %}-->
                        </div>
                        <div class="signupfield">
                                {{ form.password2.label_tag }}
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <ul class="errorlist">
                                        {% for error in form.password2.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                        </div>

                    </div>


                    <div>
                    <button type="submit" class="ui blue button">Submit</button>
                    </div>


            </div>
        </form>
    </div>

{% endblock %}
